<nav id = "sections-sidebar" class = "sections-sidebar">
    <ul>
    <li class= "category">World</li>
    <li class= "category">San Fancisco</li>
        <ul class = "subsection"> San Fancisco
            <li>Students</li>
            <li>Teaching Assistants</li>
            <li>Instructors</li>
            <li>Carrer Advisors</li>
            <li>Cats</li>
        </ul>
    <li class= "category">New York</li>
    <li class= "category">Bootcamp Prep</li>
        <ul class = "subsection">Bootcamp Prep
            <li>Students</li>
            <li>Instructors</li>
            <li>Cats</li>
        </ul>
    <li class= "category">Jumpstart</li>
    <li class= "category">Online</li>
        <ul class = "subsection"> Online
            <li>Immersive</li>
            <li>Bootcamp Prep</li>
            <li>Cats</li>
        </ul>
    <li class= "category">Marketing</li>
    <li class= "category">Sales</li>
        <ul class = "subsection"> Sales
            <li>Associates</li>
            <li>Analytics</li>
            <li>Cats</li>
        </ul>
    <li class= "category">TalentMatch</li>
    <li class= "category">Alumni</li>
        <ul class = "subsection"> Alumni
            <li>Students</li>
            <li>Companies</li>
            <li>Opinions</li>
            <li>Cats</li>
        </ul>
    <li class= "category">ALL</li>

    </ul>

</nav>

