.section {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $light-gray;
}

.section li {
    list-style-type: none;
    padding: 10px;
}

.section li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media all and (max-width: 966px) {

    .section{
        display: none
    }
}

@media all and (max-width: 580px) {
    .right-nav {
        display: none
    }

    .left-nav {
        margin: 0px;
        padding: 0px;
    }

}


@media all and (max-width: 500px) {

    .language-nav {
        display: none
    }
}

